@import "./utilis";

.home-Intro {
    width: 100vw;
    @include flexer;
    flex-wrap: wrap;
    height: 100vh;
    padding: 3em;
    flex-direction: column;


    .section-1 {
        // z-index: -1;
        @include flexer;
        margin-bottom: 2em;

        .left {
            width: 50%;
            height: 70vh;
            @include flexer(center, start);
            font-family: $font-2;
            flex-direction: column;
            color: $primary-text;
            padding: 1rem;
            z-index: 1;

            h3 {
                font-size: 2em;

                span {
                    color: $secandary-text;
                }
            }

            h1 {
                color: $secandary-text;
                font-size: 3em;
            }

            h2 {
                font-size: 1.5em;
                margin-bottom: 1rem;

                span {
                    color: $secandary-text;
                }
            }

            p {
                margin-bottom: 3rem;
                text-align: justify;
            }

            button {
                background-color: $primary-green;
                border: none;
                padding: 15px;
                font-size: large;
                color: $primary-text;
                font-family: $font-2;
                border-radius: 5px;
                transition: all ease .4s;

                &:hover {
                    background-color: $primary-text;
                    color: black;
                    box-shadow: 0px 0px 10px $primary-text;

                }
            }
        }

        .right {
            @include flexer;
            width: 50%;
            height: 70vh;

            img {
                height: 100%;
            }
        }

    }

    .section-2 {
        @include flexer(start);
        height: fit-content;
        margin: 2em;
        color: $primary-text;
        width: 100%;
        font-family: $font-2;
        font-size: x-large;

        div {
            @include flexer();
            margin: 10px;

            button {
                @include flexer();
                margin: 10px;
                border: none;
                background: none;

                a {
                    transition: all ease 0.5s;
                    border: 1px solid $primary-green;
                    padding: 10px;
                    border-radius: 50px;
                    @include flexer();
                    color: $primary-green !important;

                    &:hover {
                        color: $primary-text !important;
                        border-color: white;
                        box-shadow: 0 0 10px white;
                    }

                    .icon {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}

//////////////////////////////// Media Queries ////////////////////////////////

@media screen and (max-width: 768px) {
    .home-Intro {
        height: fit-content;
        padding: 0;
        padding-top: 6rem;
        width: 100vw;

        .section-1 {
            @include flexer;
            flex-direction: column;
            margin: 1em 0;

            .left {
                @include flexer;
                flex-direction: column;
                width: 100%;
                height: fit-content;

                h3 {
                    font-size: 1.2em;
                }

                h1 {
                    text-align: center;
                    font-size: 2em;
                }

                h2 {
                    font-size: 1.3em;
                }

                p {
                    margin-bottom: 2rem;
                    font-size: 13px;
                }

                button {
                    font-size: 15px;
                }
            }

            .right {
                @include flexer;
                flex-direction: column;
                width: 100%;
                height: fit-content;

                img {
                    width: 80%;
                }
            }

        }

        .section-2 {
            margin: 0px;
            padding: 30px;
            font-size: 13px;


        }
    }
}