.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    box-sizing: border-box;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        box-sizing: border-box;
        border-radius: 50%;
        animation: animate 2s linear infinite;
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        box-sizing: border-box;
        border-radius: 50%;
        animation: animate 2s linear infinite;
        animation-delay: 1s;
    }

    @keyframes animate {
        0% {
            width: 0;
            height: 0;
            border: 4px solid #00e250;
            box-shadow: 0 0 10px #00e250;
            opacity: 1;
        }

        50% {
            border: 4px solid #001ae2;
            box-shadow: 0 0 50px #001ae2;
        }

        70% {
            opacity: 1;
        }

        100% {
            width: 100%;
            height: 100%;
            border: 4px solid #e20000;
            box-shadow: 0 0 100px #e20000;
            opacity: 0;
        }
    }
}